.button-group {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 20px;
}

.card-style button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    border: none;
    border-radius: 32px;
    width: 120px;
    height: 44px;
    cursor: pointer;
    font-weight: 600;
}

.printer {
    width: 350px;
    padding: 24px;
    border-radius: 16px;
    background-color: gray;
}