.aside {
  width: 220px;
  padding: 20px;
  background-color: #0aa79d;
  color: #fff;
}

.aside-title {
  font-size: 14px;
  margin-bottom: 20px;
}

.aside-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

.aside-list li {
  list-style: square;
}
