.footer {
  padding: 20px 40px;
  background-color: #f25c2a;
  color: #fff;
  text-align: center;
}

.footer-title {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 20px;

  color: black;
  background: #fbe3d5;
  padding: 10px 20px;
  border-radius: 4px;
}

.footer-list li {
  list-style: none;
  font-size: 14px;
  cursor: pointer;
}
