header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList {
    list-style: none;
    display: flex;
    text-align: center;
    gap: 10px;
}

.navList li {
    background-color: aliceblue;
    padding: 10px;
}

.navList li span {
    display: block;
}

.navList li span.dec {
    font-size: 10px;
}